{% load static %}

<section class="hero">

    <div class="hero-overlay"></div>

    <div class="hero-content">

        <div class="hero-stars">
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
        </div>


        <span class="hero-founded">
            DESDE 1947
        </span>

        <h1 class="hero-title">
            A.D. PRIMEIRO DE MAIO
        </h1>

        <p class="hero-subtitle">
            Uma paixão que atravessa gerações.
        </p>

        <a href="{% url 'historia' %}" class="btn-hero">
            CONHEÇA NOSSA HISTÓRIA
        </a>

        <div class="hero-scroll">
            <i class="bi bi-chevron-down"></i>
        </div>

    </div>

</section>