{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">

    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">

            <img src="{% static 'img/escdo3d.png' %}"
                 alt="Escudo"
                 width="50"
                 class="me-2">

            <div class="d-flex flex-column">

                <strong>{{ clube.sigla }}</strong>
                <small class="text-light">Desde {{ clube.fundacao }}</small>

            </div>

        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menuPrincipal">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        Início
                    </a>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown">

                        O Clube

                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                               href="{% url 'historia' %}">
                                História
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="{% url 'conquistas' %}">
                                Conquistas
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="{% url 'hall_fama' %}">
                                Hall da Fama
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown">

                        Futebol

                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                               href="{% url 'noticias' %}">
                                Notícias
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown">

                        Festival

                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                               href="{% url 'galeria' %}">
                                Galeria
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'patrocinadores' %}">
                        Parceiros
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'contato' %}">
                        Contato
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>