{% extends 'base.html' %}

{% block titulo %}
Contato
{% endblock %}

{% block conteudo %}

<section class="pagina-topo">
    <div class="container">
        <h1>CONTATO</h1>
        <p>Entre em contato com a A.D. Primeiro de Maio.</p>
    </div>
</section>

<section class="pagina-conteudo">
    <div class="container">
        <div class="card-pagina">
            <h2>Fale Conosco</h2>

            <p><strong>Telefone:</strong> Em breve</p>
            <p><strong>E-mail:</strong> Em breve</p>
            <p><strong>Endereço:</strong> Barueri - SP</p>

        </div>
    </div>
</section>

{% endblock %}